body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d0eb9d;
    color: #000;
}

header {
    background-color: #90c840;
    text-align: center;
    padding: 20px;
    position: relative;
}

header h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;
}

.icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icons img {
    width: 10px;
    margin-left: 10px;
}

main {
    background-color: #00b050;
    padding: 30px 20px;
    color: #fff;
}

.pratos h2,
.cidades h2 {
    text-align: center;
    color: #000;
}

.item {
    margin-bottom: 30px;
}

.item h3 {
    color: #000;
    margin-bottom: 5px;
}

.item p {
    margin-bottom: 5px;
}

.item img {
    width: 200px;
    display: block;
    margin-top: 10px;
}

small {
    font-size: 0.8em;
    color: #ccc;
}

.cidades p {
    margin: 10px 0;
    color: #fff;
}

.fonte {
    font-size: 0.9em;
    text-align: right;
    color: #ddd;
}

.destaque {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #90c840;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

footer img {
    width: 30px;
    margin-top: 10px;
}